<!DOCTYPE html>
<html style="font-size: 50px;">
<head>
    <title>免费领泰康居家意外伤害保险</title>
    <meta charset="utf-8"/>
    <meta name="keywords" content="{{page_param['keywords']}}">
    <meta name="description" content="{{page_param['description']}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="css/wap-home.css" />
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/wap-common.js"></script>
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if (clientWidth >= 750) {
                        docEl.style.fontSize = '100px';
                    } else {
                        docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                    }
                };

            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</head>
<body>
    <!-- 头部 -->
    <div class="header wrap">
        <h2>居家意外险<span>免费领</span></h2>
        <p>煤气、液化气、天然气、电力、入室抢劫等</p>
    </div>
    <!-- 赠险详情 -->
    <div class="insurance-detail wrap">
        <div class="insurance-detail-title clx">
            <h2>赠险详情</h2>
            <img class="company-logo" src="images/company-logo.png" onclick="return false;">
        </div>
        <div class="insurance-detail-content">
            <div class="insurance-detail-name"><p>泰康居家意外伤害保险</p></div>
            <div class="insurance-detail-range clx">
                <span><i></i>投保年龄：22-50周岁</span>
                <span><i></i>保障期间：90天</span>
            </div>
            <div class="insurance-detail-list">
                <ul>
                    <li class="insurance-detail-list-1"><em></em>煤气、液化气、天然气意外最高保<span>10万</span></li>
                    <li class="insurance-detail-list-2"><em></em>触电或电源线路故障意外最高保<span>10万</span></li>
                    <li class="insurance-detail-list-3"><em></em>外部人员入室抢劫行为意外最高保<span>10万</span></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 表单详情 -->
    <div class="form-container wrap">
        <h2>填写保单立即免费领取</h2>
        <div class="form-content">
            <form id="form-box" class="form-box" method="post">
                <div class="input-box clx">
                    <div class="left-box">您的姓名</div>
                    <div class="right-box"><input type="text" name="name" id="name" placeholder="请输入真实姓名" class="input-text"></div>
                </div>
                <div class="input-box clx">
                    <div class="left-box">联系方式</div>
                    <div class="right-box"><input type="tel" name="mobile" id="mobile" placeholder="请输入您的真实联系方式" class="input-text" maxlength="11"></div>
                </div>
                <div class="input-box captcha-box clx">
                    <div class="left-box">验 证 码</div>
                    <div class="right-box"><input type="tel" name="captcha" id="captcha" placeholder="输入手机验证码" class="input-text"></div>


                    <div class="box-right">
                        <input id="random" name="r" value="{{page_param['random']}}" type="hidden"/>
                        <input id="send" type="button" class="send" value="获取验证码">
                    </div>
                </div>
                <div class="input-box clx">
                    <div class="left-box">身份证号</div>
                    <div class="right-box"><input type="text" name="idCard" id="idCard" placeholder="请输入您的身份证号" class="input-text" maxlength="18"></div>
                </div>

                <p class="form-tip">您的个人信息将被严格保密，请放心填写</p>

                <a href="javascript:;" class="form-submit" id="form-submit">免费领取</a>

                <div class="agree-box clx">
                    <input id="agree-button" type="checkbox" checked>
                    <label class="fr" for="agree-button">
                        <em></em>我已阅读并同意《<a href="doc/insurance-detail.pdf">保险条款</a>》及
                        《<a href="javascript:;" id="activity-rules-btn">投保须知</a>》，并许可保险公司专线致电我沟通赠险领取事宜
                    </label>
                </div>
            </form>
        </div>
    </div>
    <!-- 底部信息 -->
    <div class="footer">此赠险由泰康人寿保险承保并提供服务</div>
    <!-- 遮罩层 -->
    <div id="mask" class="mask"></div>
    <!-- 投保须知 -->
    <div id="activity-rules-box" class="modal-box rules mask-popup-box modal" >
        <h3>投保须知<a href="javascript:;" class="close"></a></h3>
        <div class="content user-content modal-msg-box">
            <p>保险责任</p>
            <p>（1）被保险人在其住所内，因煤气、石油液化气或者天然气泄漏引起的中毒、爆炸、火灾以致身故或者伤残；</p>
            <p>（2）被保险人在其住所内，使用家庭220V电压的电力，因触电（电击）或者电源线路故障以致身故或者伤残；</p>
            <p>（3）被保险人在其住所内，因遭受经公安部门确认的外部人员的入室抢劫行为，以致身故或者伤残。</p>
            <p>报备编号：泰康发〔2015〕507号</p>
            <p>保险金额：10万</p>
            <p>保险期间：90天</p>
            <p>投保须知：</p>
            <p>1.投保年龄：22周岁（含）至50周岁（含）。</p>
            <p>2.投/被保险人关系：限为本人。</p>
            <p>3.投保份数：每个被保险人每个保险期间内限投1份，可重复投保。</p>
            <p>4.保险期间：90天。</p>
            <p>5.保险金额：10万元/份。</p>
            <p>6.风险保额计算方式：不计入被保险人风险保额。</p>
            <p>7.职业类别：不限。</p>
            <p>8.其他未尽事宜遵照《泰康人寿电销投保规则（2017版）》有关规定执行。</p>
        </div>
    </div>

    <!-- 本页面js -->
    <script src="js/wap-home.js"></script>
</body>
</html>