*{padding:0; margin:0; font-family:arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; }
html,body {
    height: 100%;
}
body {
    background: #d8403e;
}
a {
    text-decoration: none;
}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    background: none;
}
input[type='button']{
    -webkit-appearance: none;
}
input, label, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="checkbox"],
input[type="radio"]{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
input:-webkit-autofill{
    background-color: #ffffff;
}
.form-box .input-box input::-webkit-input-placeholder {
    color: #909090;
}
input::-moz-placeholder {
    color: #909090;
}
input:-ms-input-placeholder {
    color: #909090;
}
img {
    border-width: 0;
    border: none;
    outline: none;
}
.clx:after{
    clear:both;
    content:'';
    width:0;
    height:0;
    display:block;
    visibility:hidden;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
body .hide{
    display: none;
}
.err_popo {
    position: fixed;
    z-index: 2000;
    top: 40%;
    left: 10%;
    width: 80%
}
.err_popo span {
    display: block;
    padding: .22rem 0.02rem;
    font-size: .22rem;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center
}
.wrap {
    position: relative;
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
}
/* 头部 */
.header {
    height: 4.1rem;
    color: #ffffff;
    background: url("../images/wap-home-banner.png") center no-repeat;
    background-size: 100%;
}
.header h2 {
    position: absolute;
    top: 2.2rem;
    left: .6rem;
    font-weight: normal;
    font-size: .28rem;
}
.header h2 span {
    margin-left: 1.38rem;
    display: inline-block;
}
.header p {
    position: absolute;
    top: 3.13rem;
    left: .63rem;
    font-size: .18rem;
}
/* 赠险详情 */
.insurance-detail {
    width: 6.9rem;
    background: #fff;
    border-radius: .2rem;
}
.insurance-detail .insurance-detail-title h2 {
    width: 1.7rem;
    height: .52rem;
    line-height: .52rem;
    font-size: .28rem;
    color: #ffffff;
    text-align: center;
    background: linear-gradient(to right, #f78a29, #fb9e3f ,#f78a29);
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    font-weight: normal;
    float: left;
    margin-left: .3rem;
}
.insurance-detail .insurance-detail-title .company-logo {
    width: 1.13rem;
    height: .34rem;
    float: right;
    margin-right: .3rem;
    margin-top: .18rem;
}
.insurance-detail-content {
    position: relative;
    margin-top: .1rem;
}
.insurance-detail-content .insurance-detail-name:before {
    position: absolute;
    top: .24rem;
    left: 0;
    width: 100%;
    height: 1px;
    background: #f78a29;
    content: '';
    z-index: 1;
}
.insurance-detail-content .insurance-detail-name p {
    position: relative;
    width: 3.9rem;
    margin: 0 auto;
    background: #fff;
    font-size: .32rem;
    color: #d8403e;
    text-align: center;
    z-index: 2;
}
.insurance-detail-range {
    margin: .3rem;
}
.insurance-detail-range span {
    color: #787878;
    font-size: .24rem;
}
.insurance-detail-range span i {
    width: .06rem;
    height: .06rem;
    background: #7ca9ff;
    border-radius: 50%;
    display: inline-block;
    margin-right: .1rem;
    vertical-align: middle;
}
.insurance-detail-range span:first-child {
    float: left;
}
.insurance-detail-range span:last-child {
    float: right;
}
.insurance-detail-list {
    position: relative;
    font-size: .28rem;
    color: #313131;
    margin: 0 .3rem .4rem .6rem;
}
.insurance-detail-list:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: #f78a29;
    content: '';
    z-index: 1;
}
.insurance-detail-list ul li {
    position: relative;
    height: .64rem;
    line-height: .64rem;
    list-style-type: none;
    padding-left: .52rem;
    margin-bottom: .3rem;
}
.insurance-detail-list ul li:last-child {
    margin-bottom: 0;
}
.insurance-detail-list ul li em {
    position: absolute;
    top: 0;
    left: -.3rem;
    width: .64rem;
    height: .64rem;
    z-index: 2;
    background-color: #fff;
}
.insurance-detail-list ul li span {
    color: #d8403e;
}
.insurance-detail-list-1 em {
    background: url("../images/insurance-detail-icon-1.png") center no-repeat;
    background-size: 100%;
}
.insurance-detail-list-2 em {
    background: url("../images/insurance-detail-icon-2.png") center no-repeat;
    background-size: 100%;
}
.insurance-detail-list-3 em {
    background: url("../images/insurance-detail-icon-3.png") center no-repeat;
    background-size: 100%;
}
/* 表单详情 */
.form-container {
    width: 6.9rem;
    background: #fff;
    border-radius: .2rem;
    margin-top: .3rem;
    padding-top: .3rem;
    padding-bottom: .4rem;
}
.form-container h2 {
    width: 6.9rem;
    height: .98rem;
    line-height: .98rem;
    text-align: center;
    font-size: .32rem;
    color: #fffaab;
    background: url("../images/form-title-icon.png") center no-repeat;
    background-size: 100%;
    margin-bottom: .3rem;
    font-weight: normal;
}
.form-content {
    font-size: 0;
    padding: 0 .3rem;
}
.input-box {
    position: relative;
    width: 6.28rem;
    height: .86rem;
    border: 1px solid #dadada;
    border-radius: .44rem;
    overflow: hidden;
    margin-bottom: .3rem;
}
.input-box .left-box {
    width: 1.9rem;
    height: .34rem;
    line-height: .34rem;
    text-align: center;
    padding: .26rem 0;
    font-size: .28rem;
    color: #313131;
    background: linear-gradient(to bottom ,#ffffff ,#f4f4f5);
    border-right: 1px solid #d3d3d3;
    float: left;
}
.input-box .right-box {
    width: 3.7rem;
    height: .34rem;
    padding: .26rem 0;
    float: left;
    margin-left: .3rem;
}
.input-box .right-box .input-text {
    width: 100%;
    height: .34rem;
    line-height: .34rem;
    font-size: .28rem;
}

/* 验证码 */
.captcha-box .right-box {
    width: 2.15rem;
}
.box-right {
    position: absolute;
    top: .1rem;
    right: .1rem;
    width: 1.8rem;
    height: .64rem;
    background: #f78e2d;
    border-radius: .32rem;
    text-align: center;
}
.box-right .send {
    height: .64rem;
    line-height: .64rem;
    font-size: .24rem;
    color: #fff;
}
.form-tip {
    color: #787878;
    font-size: .24rem;
    text-align: center;
}
.form-submit {
    width: 6.3rem;
    height: .88rem;
    line-height: .88rem;
    text-align: center;
    font-size: .32rem;
    color: #ffffff;
    display: block;
    background: linear-gradient(to right, #e65149, #ef5b51);
    border-radius: .44rem;
    margin: .3rem 0;
}
/* 同意 */
.form-box .agree-box {
    width: 5.6rem;
    margin: .28rem auto 0;
    font-size: .24rem;
    color: #313131;
}
.form-box .agree-box label {
    position: relative;
    display: inline-block;
    width: 5.14rem;
    padding-left: .44rem;
    line-height: .38rem;
}
.form-box .agree-box label>em {
    position: absolute;
    display: inline-block;
    top: .02rem;
    left: 0;
    width: .3rem;
    height: .3rem;
    vertical-align: middle;
    border: 1px solid #f89232;
    border-radius: 50%;
}
.form-box .agree-box input:checked + label>em {
    border: 0;
    background: url("../images/wap-form-checked.png") no-repeat;
    background-size: .32rem;
}
.form-box .agree-box label a{
    color: #d8403e;
    text-decoration: none;
}
/* 底部信息 */
.footer {
    color: #ffd9d8;
    font-size: .2rem;
    text-align: center;
    padding: .4rem 0;
}
/* 遮罩层 */
.mask {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    display: none;
    z-index: 10;
}
/* 用户协议弹窗 */
.modal-box {
    background-color: #fff;
    z-index: 11;
}
.modal-box.detail {
    position: absolute;
    top: 3.3rem;
    left: 50%;
    width: 5.7rem;
    margin-left: -2.85rem;
    padding: .3rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.modal-box.detail.active {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.modal-box.detail>h3 {
    position: relative;
    padding-top: .14rem;
    padding-bottom: .14rem;
    font-size: .28rem;
    color: #444;
    border-bottom: 1px dashed #dfdfdf;
}
.modal-box.detail .content {
    width: 100%;
    padding: .3rem .1rem;
}
.modal-box.detail .content>h4 {
    position: relative;
    height: .8rem;
    padding-bottom: .25rem;
    font-size: .28rem;
    line-height: 0.45rem;

}
.modal-box.detail .content>h4>span {
    display: block;
}
.modal-box.detail .content>h4>span:first-child {
    color: #4c9ffa;
}
.modal-box.detail .content>h4>span:last-child {
    color: #999;
}
.modal-box.detail .content>table {
    width: 100%;
    line-height: .32rem;
    font-size: .24rem;
    border: 0;
    border-collapse: collapse;
}
.modal-box.detail .content>table th,
.modal-box.detail .content>table td {
    padding: .12rem .2rem;
}

.modal-box.detail .content>table th {
    width: 70%;
    color: #444;
    background-color: #f1f1f1;
}
.modal-box.detail .content>table td {
    width: 30%;
    color: #999;
}
.modal-box.detail .content>table tr:nth-child(2n) td {
    background-color: #f1f1f1;
}
.modal-box{
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 7.5rem;
    height: 6.9rem;
    margin-left: -3.75rem;
    display: none;
}
.modal-box.rules.active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.modal-box.rules>h3 {
    position: relative;
    height: .9rem;
    padding-left: .3rem;
    line-height: .9rem;
    font-size: .32rem;
    color: #13b777;
    background-color: #f3f3f3
}
.modal-box>h3>a {
    position: absolute;
    top: 0;
    right: 0rem;
    width: .9rem;
    height: .9rem;
    background:url(../images/wap-close.png) center no-repeat;
    -webkit-background-size: .56rem .56rem;
    -moz-background-size: .56rem;
    -o-background-size: .56rem;
    background-size: .56rem;
}
.modal-box.rules .content {
    height: 5.5rem;
    padding: .3rem;
    overflow-y: scroll;
}
.modal-box.rules .content>p {
    line-height: .48rem;
    font-size: .24rem;
    color: #8e8e8e;
}
/* 验证码 */
.captcha-box .right-box {
    width: 2.15rem;
}
.box-right {
    position: absolute;
    top: .1rem;
    right: .1rem;
    width: 1.8rem;
    height: .64rem;
    background: #f78e2d;
    border-radius: .32rem;
    text-align: center;
    overflow: hidden;
}
.box-right .send {
    width: 100%;
    height: .64rem;
    line-height: .64rem;
    font-size: .24rem;
    color: #fff;
}
input[disabled="disabled"] {
    background-color: #ccc;
    border: none;
}
